html.touch .carousel-control { display: none; }

/* BOOTSTRAP */
.has-error .form-control { border-color: #BC171B; }
.has-error .form-control:focus {
  border-color: #BC171B;
  box-shadow-color: #BC171B;
}

.has-success .form-control: {
  box-shadow:none;
}

p {
  font-size: 1.2em;
  font-weight: 200;
}

.LinkUnderlined {
  color: #5f5c57;
  text-decoration: underline;
}

.LinkUnderlined:hover {
  color: #5f5c57;
}

body.landingpage .btn-primary {
  background-color: #FF8819;
  margin-top: 0.5em;
}

body.landingpage .btn-primary:hover {
  background-color: #ff9838;
}

section > .container {
  padding-top: 3em;
  padding-bottom: 4em;
}
section .container > h1 {
  text-align: center;
  padding-bottom: 2em;
  color: #0B8BD7;
}

.center-text {
  text-align: center;
}

.description-text {
  text-align:center;
  font-size: 1em;
  color: 4D4A44;
  padding-top: 0.3em;
}

/*----------------------------------------------------------------------------
  NAVIGATION
----------------------------------------------------------------------------*/
.navbar-default {
  background-color: #0B8BD7;
  color: #fff;
  margin-bottom: 0;
  /*
  
  padding: 1.0714 0;
*/
}

.navbar-brand {
  background: url(https://dl.dropboxusercontent.com/s/ka5lv8yk8twdf0p/mysugr-text-logo-inverted.png) 1ex top no-repeat;
  background-size: contain;
  /*min-width: 500px;*/
  min-width: 100px;
  line-height: 5.7857;
}

.navbar-breadcrumbs {
  opacity: 0.6;
}

.navbar-breadcrumbs a {
  color: #fff;
  text-transform: uppercase;
}

@media (max-width:500px) {
  .navbar-header {
    height: 35px;
  }
}

/*----------------------------------------------------------------------------
  Take control
----------------------------------------------------------------------------*/
@media (max-width: 450px) {
  h1 {
  font-size: 2.0em;
  }
}

.testimonial-text {
  font-size: 0.9em;
  line-height: 1.3em;
}

/*----------------------------------------------------------------------------
  JUMBOTRON
----------------------------------------------------------------------------*/
#Jumbotron {
  position:         relative;
  margin-top:       0;
  margin-bottom:    0;
  padding-top:      0;
  padding-bottom:   0;
  background-color: #f1f2f4;
}

@media (min-width:990px) {
  #Jumbotron > .container {
    background: #f1f2f4 url(https://dl.dropboxusercontent.com/s/dt8raoe105gdtio/markus_big.jpg) top right no-repeat;
    background-size: contain;
  }
}

#Jumbotron h1 {
  color: #0B8BD7;
}

#Jumbotron > .container {
  padding-top: 1em;
  padding-bottom:0;
}

/* Image Caption */
#Jumbotron .image-caption.visible-md-block.visible-lg-block {
  position: absolute;
  right: -180px;
  top: 15em;
  line-height: 1.3em;
  background: rgba(255,255,255,0.5);
  padding: 0.5em;
}

@media (min-width: 992px) and (max-width: 1200px) {
  html[lang="en"] #Jumbotron .image-caption {
    margin-top: 17.3em !important;
    margin-right: -12em;
  }

  html[lang="de"] #Jumbotron .image-caption {
    top: 36.8em !important;
    margin-top: 0 !important;
  }
}

#Jumbotron .hidden-md.hidden-lg {
  position: relative;
}

#Jumbotron .hidden-md.hidden-lg .image-caption {
  position: absolute;
  top: 6em;
  left: 3em;
}

@media (max-width: 768px) {
  #Jumbotron .hidden-md.hidden-lg .image-caption {
    top: 5%;
    left: 1em;
    font-size: 0.8em;
  }
}

/* Form */
#Jumbotron .row-for-form > div {
  padding: 0;
}

@media (max-width:990px) {
}

#Jumbotron form {
  background: white;
  padding: 2em;
  margin-bottom: 0;
}

@media (min-width:990px) {
  #Jumbotron form {
    margin-top: 2em;
  }
}

.checkbox > p > label > input[type="checkbox"] {
  height: 100%;
  margin-top: 0;
}

.obligations {
  color: #A6A4A1;
  font-size: 1em;
}

#SignupForm h4 {
  padding-bottom: 0.5em;
}

/*----------------------------------------------------------------------------
  WHAT YOU WILL LEARN
----------------------------------------------------------------------------*/
#WhatYouWillLearn {
  background-color: #0B8BD7;
  color: white;
}

#WhatYouWillLearn h1 { color: white; }

#WhatYouWillLearn .list-unstyled > li {
  text-align: center;
}

@media (max-width:990px) {
  #WhatYouWillLearn .list-unstyled > li:first-of-type { margin-top: inherit; }
  #WhatYouWillLearn .list-unstyled > li { margin-top: 3em; }
}

#WhatYouWillLearn .list-unstyled > li > img {
  max-width: 66%;
  max-height: 16em;
}

/*----------------------------------------------------------------------------
  A DIABETES COURSE THAT WILL BLOW YOUR MIND
----------------------------------------------------------------------------*/

/* Lists with MySugr Icons */

ul.list-icon-styled {
  list-style: none outside none;
  text-align: left;
  font-size: 1.5em;
  font-family: inherit;
  vertical-align: middle;
}

ul.list-icon-styled li.ms-icon {
  padding-left: 1.5em;
  text-indent: -1.5em;
  font-family: inherit;
  margin-bottom: 0.5em;
  line-height: 1.3em;
}

ul.list-icon-styled li.ms-icon:before {
  font-family: "mySugr Icons";
  padding-right: 0.5em;
  color: #0B8BD7;
}

#video ul.list-icon-styled {
  padding-left: 0;
}

/* A container that maintains an aspect ratio, eg for images and videos */

.aspect-ratio {
  position: relative;
  width: 100%;
}

.aspect-ratio.aspect-ratio-16x9:before {
  content: "";
  display: block;
  padding-top: 56.25%;
}

.aspect-ratio > iframe {
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* The specific video on this page - NOT for general use */
#video .aspect-ratio {
  margin-bottom: 3em;
}

@media (min-width: 1200px) {
  #video .list-icon-styled li {
    margin-top: 1.3em;
  }

  #video .list-icon-styled li:first-of-type {
    margin-top: inherit;
  }
}

/*Delete padding-top because .container has also padding-bottom 3em, would be dou*/

#SignupButton .container {
  padding-top: 0px;
}
/*----------------------------------------------------------------------------
  SCREENS
----------------------------------------------------------------------------*/
#Screens {
  background-color: #E4E4E3;
}

@media (max-width:990px) {
  #Screens .col-xs-12 + .col-xs-12 {
    margin-top: 3em;
  }
}


/*----------------------------------------------------------------------------
  CREATED WITH EXPERTS
----------------------------------------------------------------------------*/
#CreatedWithExperts {
  background-color: #F3F3F2;
}

#CreatedWithExperts img {
  max-height: 12em;
}
#CreatedWithExperts .carousel-indicators {
  bottom: -30px;
}

/*----------------------------------------------------------------------------
  PARTNER ENDORSEMENTS
----------------------------------------------------------------------------*/
#Endorsements {
  background-color: #E4E4E3;
}

#Endorsements > .container {
  padding-top: 1em;
  padding-bottom: 3em;
}

#Endorsements li img {
  margin-top: 3em;
  max-height: 3em;
}

/*----------------------------------------------------------------------------
  SIGN UP FOOTER
----------------------------------------------------------------------------*/
#SignupFooter {
  background-color: #FF8819;
}

#SignupFooter .btn {
  color:  #FF8819;
}

/*----------------------------------------------------------------------------
  LIGHTBOX
----------------------------------------------------------------------------*/
.lb-data .lb-details {
  display: none;
}

.lb-data .lb-close {
  position: fixed;
  right: 12px;
  top: 12px;
}

